body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #ffffff; /* Set background color to white */
}

.main {
  text-align: center;
}

.container {
  width: 100%;
  max-width: 600px; /* Adjust max-width as needed */
  padding: 20px;
  box-sizing: border-box;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  color: #fff;
  border: none;
  border-radius: 5px;
}

#yesButton {
  background-color: #3cb371;
}

#noButton {
  background-color: #c2185b;
}

#yesButton:hover {
  background-color: #32925d;
}

#noButton:hover {
  background-color: #9b144a;
}

#responseMessage {
  margin-top: 20px;
}